/* the '/' route style sheet */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: relative;
}

.account-button {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* content input field */
#article_content {
    height: 200px;
}

button {
    display: block;
    width: 40%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    opacity: 0.9; /* Slightly transparent on hover */
}

a {
    text-decoration: none;
}
